
.Create {

	padding:20px;
	background-color:#111;
	background: url("../img/wild_oliva.png") repeat;
}

.Create h4 {
	color:#fff;
	text-shadow: 0 1px 0 #000;
}

.Number {
    background: #0668d3;
    color: #eee;
    border-radius: .4ex;
    padding: 1px .8ex;
}


.Title {
    color: #eee;
}

.Faded {
    color: inherit;
}

.Side {
    float: left;
}