{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            Corgi: A new Bootstrap Theme
        {% endblock %}
    </title>
    <meta name="description" content="A new bootstrap theme">
    <meta name="author" content="Damian Sowers">
    <!-- Le styles -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="{%  static "css/corgi.css" %}" rel="stylesheet" type='text/css'>
    <link href="{% static "css/custom.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/elusive-webfont.css" %}">
    <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/corgi.js" %}" type="text/javascript"></script>
    <!-- elusive icons ie7 support -->
    <!--[if lte IE 7]><script src="{% static "js/lte-ie7.js" %}"></script><![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
    <style>
        body {
            padding-top: 80px; /* Only include this for the fixed top bar */
        }
    </style>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="{% url 'home' %}">
                Forum
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-left">
                    {% block brand %}
                        <li><h4>:: &nbsp; Test</h4></li>
                    {% endblock %}
                </ul>
            </div>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% block navbar %}
                        <li><a href="{% url 'topic_index' %}">Topics</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endblock %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span8">
            {% block notify %}
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> Best check yo self, you're not looking too good.
                </div>
            {% endblock %}
        </div>
        <div class="span8">
            <div class="corgi_feed_well">
                {% block content %}
                    <div class="feed_stacked">
                        <div class="feed_item">
                            <div class="feed_body">
                                <div class="row">
                                    <div class="feed_profile_pic">
                                        <img src="{% static "img/corgi.jpg" %}" alt="meta image" class="meta_image" />
                                    </div>
                                    <div class="feed_text">
                                        <p>This micro bootstrap theme is great for any application that requires a feed stream. It has a stacked feed layout and an individual feed layout too.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endblock %}
            </div>
            {% block page %}
            {% endblock %}

        </div> <!-- end span8 -->
        <div class="span4">

            <div class="corgi_feed_well">
                <div class="sidebar_header">
                    <div class="sidebar_title">
                        <h4>
                            Create new thread
                        </h4>
                    </div>
                </div>
                <hr class="feed_hr" />
                <div class="sidebar_interior">
                    {% block newthread %}
                        <i class="icon-ok"></i> Sidebar
                        <br/><br/>
                    {% endblock %}
                </div>
            </div>

            <div class="corgi_feed_well">
                <div class="sidebar_header">
                    <div class="sidebar_title">
                        <h4>
                            {% block sidebartitle %}
                                Sidebar
                            {% endblock %}
                        </h4>
                    </div>
                </div>
                <hr class="feed_hr" />
                <div class="sidebar_interior">
                    {% block sidebar %}
                        <i class="icon-ok"></i> Sidebar
                        <br/><br/>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="corgi_feed_well">
                <div class="well_padding">
                    <h4>
                        {% block bottomtitle %}
                            Bottom
                        {% endblock %}
                    </h4>
                </div>
                <hr class="title_hr" />
                <div class="well_padding">
                    {% block bottom %}
                        <p>Bottom</p>
                        <ul class="elusive_icons">
                            <div class="row">
                                <div class="span2">
                                    <li><i class="icon-facebook"></i> icon-facebook</li>
                                </div>
                                <div class="span2">
                                    <li><i class="icon-website"></i> icon-website</li>
                                </div>
                                <div class="span2">
                                    <li><i class="icon-wheelchair"></i> icon-wheelchair</li>
                                </div>
                                <div class="span2">
                                    <li><i class="icon-graph-alt"></i> icon-graph-alt</li>
                                </div>
                                <div class="span2">
                                    <li><i class="icon-css"></i> icon-css</li>
                                </div>
                            </div>
                        </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div class="corgi_footer">
    <div class="container">
        <div class="row">
            <div class="span12">
                {% block footer %}
                    <ul>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                    <div class="corgi_copyright">
                        &copy; 2013 Bootstrap Micro
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<!-- Le javascript
================================================== -->
<script src="{% static "js/bootstrap.js" %}"></script>
</body>
</html>
