{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Forum Home
{% endblock %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block brand %}
    Forum Home
{% endblock %}

{% block content %}
    {% if threads %}
        {%  for thread in threads %}
            <div class="feed_stacked">
              <div class="feed_item">
                <div class="feed_body">
                  <div class="row">
                    <div class="feed_profile_pic">
                      <img src="{% static "img/corgi.jpg" %}" alt="meta image" class="meta_image" />
                    </div>
                    <div class="feed_text">
                        <p>{{ thread.title }}</p>
                      <p>{{ thread.body }}</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block sidebartitle %}
    Popular threads
{% endblock %}

{% block sidebar %}
    {% if side_threads %}
        {% for side_thread in side_threads %}
            <i class="icon-ok"></i> {{ side_thread.title }}
            <br/><br/>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block bottomtitle %}
    Browse by subject
{% endblock %}

{% block bottom %}
    {% if topics %}
        <p>Topics</p>
        <ul class="elusive_icons">
        <div class="row">
        {% for topic in topics %}
                <div class="span2">
                  <li>
                      <i class="icon-facebook"></i><a href="{% url 'topic_detail' topic_slug=topic.slug %}">{{ topic.title }}</a></li>
                </div>
        {% endfor %}
            </div>
        </ul>
    {% endif %}
{% endblock %}