{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Forum
{% endblock %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block notify %}
    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ m.tags|capfirst }}!</strong> {{ m }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block brand %}
    <li><h4>::</h4></li>
    <li><h4 class="Title">&nbsp;<a href="{% url 'home' %}" class="Title">Threads</a></h4></li>
{% endblock %}

{% block content %}
    {% if threads %}
        {%  for thread in threads %}
            <div class="feed_stacked">
              <div class="feed_item">
                <div class="feed_body">
                  <div class="row">
                    <div class="feed_profile_pic">
                      <img src="{% static "img/corgi.jpg" %}" alt="meta image" class="meta_image" />
                    </div>
                    <div class="feed_text">
                        <p><h4><a href="{% url 'thread_detail' topic_slug=thread.topic.slug thread_slug=thread.slug %}">{{ thread.title }}</a></h4></p>
                        <p>
                            <i class="icon-tags"></i>&nbsp;
                            <a href="{% url 'topic_detail' topic_slug=thread.topic.slug %}" >{{ thread.topic }}</a>
                        </p>
                        <p>
                            by {{ thread.author }} &nbsp;&nbsp;&nbsp; {{ thread.created|date:"M d" }}
                            &nbsp;&nbsp;&nbsp; <span class="Number">{{ thread.reply_count }}</span> comments
                        </p>
                        <p><i class="icon-quotes"></i> &nbsp; <p>{{ thread.body|truncatechars:200 }}</p></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block newthread %}
    <form action="{% url 'create' %}">
        <input type="submit" class="btn btn-primary" value="New thread"/>
    </form>
{% endblock %}

{% block sidebartitle %}
    Popular threads
{% endblock %}

{% block sidebar %}
    {% if side_threads %}
        {% for st in side_threads %}
            <div>
                <span class="Number">{{ st.reply_count }}</span>
                <span>
                    <a href="{% url 'thread_detail' topic_slug=st.topic.slug thread_slug=st.slug %}">{{ st.title }}</a>
                </span>
                <br/><br/>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block bottomtitle %}
    <a href="{% url 'topic_index' %}">Browse by topic</a>
{% endblock %}

{% block bottom %}
    {% if topics %}
        <ul class="elusive_icons">
        <div class="row">
        {% for topic in topics %}
                <div class="span2">
                  <li>
                      <i class="icon-tag"></i>&nbsp;<a href="{% url 'topic_detail' topic_slug=topic.slug %}">{{ topic.title }}</a></li>
                </div>
        {% endfor %}
            </div>
        </ul>
    {% endif %}
{% endblock %}