{% extends "home.html" %}
{% load staticfiles %}

{% block title %}
    {{ thread.title }}
{% endblock %}

{% block brand %}
    <li><h4>::&nbsp;<a href="{% url 'topic_index' %}" class="Faded">Topics</a>&nbsp;::&nbsp;</h4></li>
    <li><h4><a href="{% url 'topic_detail' topic_slug=thread.topic.slug %}" class="Faded">{{ thread.topic.title }}</a>
    </h4></li>
    <li><h4>&nbsp;::&nbsp;</h4></li>
    <li><h4 class="Title">
        <a href="{% url 'thread_detail' topic_slug=thread.topic.slug thread_slug=thread.slug %}" class="Title">{{ thread.title }}</a>
    </h4></li>
{% endblock %}

{% block content %}
    <div class="feed_stacked">
        <div class="feed_item">
            <div class="feed_body">
                <div class="row">
                    <div class="feed_profile_pic">
                        <img src="{% static "img/corgi.jpg" %}" alt="meta image" class="meta_image" />
                    </div>
                    <div class="feed_text">
                        <h4>{{ thread.title }}</h4>
                        <p>{{ thread.body }}</p>
                    </div>
                </div>
            </div>
            <div class="bottom_meta">
                <div class="row">
                    <div class="bottom_right">
                        {{ thread.author }} <span>|</span> {{ thread.created }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%  for reply in replies %}
        <div class="feed_stacked last_feed_item">
            <div class="feed_item">
                <div class="feed_body">
                    <div class="row">
                        <div class="feed_profile_pic">
                            <img src="{% static "img/retriever.jpg" %}" alt="meta image" class="meta_image" />
                        </div>
                        <div class="feed_text">
                            <p><h4>{{ forloop.counter }}</h4></p>
                            <p>{{ reply.body }}</p>
                        </div>
                    </div>
                </div>
                <div class="bottom_meta">
                    <div class="row">
                        <div class="bottom_right">
                            {{ reply.author }} <span>|</span> {{ reply.created }}
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr class="feed_hr">
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="feed_stacked last_feed_item">
        <div class="feed_item">
            <div class="comment_area">
                {% if user.is_authenticated %}
                    <p>Add a comment</p>
                    <form method="POST">
                        {% csrf_token %}
                        <input name="author" placeholder=" Name" /><br/><br/>
                        <textarea rows="3" class="span6" name="body"></textarea><br/>
                        <input type="submit" class="btn" />
                    </form>
                {% else %}
                    <p>
                        You need to be logged in to add a comment.<br/><br/>
                        Please
                    <a href="{% url 'login' %}">login</a> or
                    <a href="{% url 'register' %}">register</a>.
                    </p>
                {% endif %}
            </div>
            <hr class="feed_hr">
            <div class="bottom_meta">
                <div class="row">
                    <div class="bottom_left">
                        <div class="share_wrapper">
                            <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
                            <div class="share_hidden">
                                <ul class="hover_heart">
                                    <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span>
                                    <div class="social_links">
                                        <li><span><i class="icon-twitter"></i> Twitter</span></li>
                                        <li><span><i class="icon-facebook"></i> Facebook</span></li>
                                        <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bottom_right">
                        <a href="#" class="show_comment_link">Add comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}