{% extends "home.html" %}
{% load staticfiles %}

{% block title %}
    Topics
{% endblock %}

{% block brand %}
    <li><h4 class="Faded">::&nbsp;</h4></li>
    <li><h4 class="Title"><a href="{% url 'topic_index' %}" class="Title">Topics</a></h4></li>
{% endblock %}

{% block content %}
    {% if topics %}
        {%  for topic in topics %}
            <div class="feed_stacked">
                <div class="feed_item">
                    <div class="feed_body">
                        <div class="row">
                            <div class="feed_profile_pic">
                                <img src="{% static "img/corgi.jpg" %}" alt="meta image" class="meta_image" />
                            </div>
                            <div class="feed_text">
                                <p>
                                <h4>
                                    <i class="icon-tags"></i>&nbsp;
                                    <a href="{% url 'topic_detail' topic_slug=topic.slug %}">{{ topic.title }}</a>
                                </h4>
                                </p>
                                <p>{{ topic.body }}</p>
                                <p>
                                    <span class="Number">{{ topic.thread_count }}</span> threads &nbsp;&nbsp;&nbsp;
                            <span>
                                {% if topic.most_recent_thread.0 %}
                                    Most recent: {{ topic.most_recent_thread.0.title }}
                                {% endif %}
                            </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


