{% extends "home.html" %}
{% load staticfiles %}

{% block title %}
    {{ topic.slug }}
{% endblock %}

{% block brand %}
    <li><h4>::&nbsp;<a href="{% url 'topic_index' %}" class="Faded">Topics</a>&nbsp;::&nbsp;</h4></li>
    <li><h4 class="Title"><a href="{% url 'topic_detail' topic_slug=topic.slug %}" class="Title">{{ topic.title }}</a></h4></li>
{% endblock %}

{% block content %}
    {% if threads %}
        {%  for thread in threads %}
            <div class="feed_stacked">
                <div class="feed_item">
                    <div class="feed_body">
                        <div class="row">
                            <div class="feed_profile_pic">
                                <img src="{% static "img/corgi.jpg" %}" alt="meta image" class="meta_image" />
                            </div>
                            <div class="feed_text">
                                <p><h4><a href="{% url 'thread_detail' topic_slug=topic.slug thread_slug=thread.slug %}">{{ thread.title }}</a></h4></p>
                                <p>
                                    <i class="icon-tags"></i>&nbsp; {{ thread.topic }}
                                </p>
                                <p>
                                    by {{ thread.author }} &nbsp;&nbsp;&nbsp; {{ thread.created|date:"M d" }}
                                    &nbsp;&nbsp;&nbsp; <span class="Number">{{ thread.reply_count }}</span> comments
                                </p>
                                <p><i class="icon-quotes"></i> &nbsp; {{ thread.body|truncatechars:200 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="feed_stacked">
            <div class="feed_item">
                <div class="feed_body">
                    <div class="row">
                        <div class="feed_profile_pic">
                            <img src="{% static "img/corgi.jpg" %}" alt="meta image" class="meta_image" />
                        </div>
                        <div class="feed_text">
                            <p><h4>Oops</h4></p>
                            <p>No threads found.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block page %}
    {% if is_paginated %}
        <div class="corgi_feed_well">
            <div class="individual_feed_item">
                <div class="feed_item">
                    <div class="feed_body">
                    </div>
                    <div class="bottom_meta">
                        <div class="row">
                            <div class="bottom_left">
                                {%  if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}">
                                        <button class="btn" type="submit"><i class="icon-chevron-left"></i>&nbsp;prev</button>
                                    </a>
                                    <span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                    </span>
                                {% else %}
                                    <span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                    </span>
                                {% endif %}

                            </div>
                            <div class="bottom_right">
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">
                                        <button class="btn" type="submit"><i class="icon-chevron-right"></i>&nbsp;next</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}